<div class="container">
  <h2>Aktivitäten</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" ></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner">

      <div class="item active">
        <img src="./assets/Harvester.webp" alt="Modernste Technik" style="width:100%;">
        <div class="carousel-caption">
          <h3>Verschiedenste Maschinen</h3>
          <p>Je nach Anforderungen</p>
        </div>
      </div>

      <div class="item">
        <img src="./assets/bieberschaeden.webp" alt="Schäden werden vermieden" style="width:100%;">
        <div class="carousel-caption">
          <h3>Schäden werden minimiert</h3>
          <p>Wertschöpfung wird für die nächste Generation erhalten</p>
        </div>
      </div>

      <div class="item">
        <img src="./assets/umsch.webp" alt="Professioneller Arbeitsablauf" style="width:100%;">
        <div class="carousel-caption">
          <h3>Der Schlüssel zum Erfolg</h3>
          <p>Es werden nur ausgebildete Fachkräfte die Arbeiten durchführen</p>
        </div>
      </div>

    </div>


    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Zurück</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Weiter</span>
    </a>
  </div>
</div>



