<h2>Time tracking</h2>
<h3>Listing existing info</h3>
<form class="form-inline">
  <div *ngFor="let t of tracking">
    <div>{{t.id}}</div>
    <div>{{t.type}}</div>
    <div>{{t.userId}}</div>
    <div>{{t.date}}</div>
    <div>{{t.fromTime}}</div>
    <div>{{t.toTime}}</div>
    <button routerLink="{{'/time-tracking/info/'+t.id}}">Show</button>
  </div>
  <hr>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
          <span class="ngb-dp-arrow down"></span>Choose one
        </button>
      </div>
    </div>
  </div>
  <app-time-range-picker [fromTime]="fromTime" [toTime]="toTime" (toChanged)="toTime=$event"
                         (fromChanged)="fromTime=$event"></app-time-range-picker>
  <select [value]="type">
    <option *ngFor="let opt of enumType | enumToArray"
            [value]="opt"
            [attr.selected]="opt == type ? 'selected' : false">
      {{opt}}
    </option>
  </select>
  <button (click)="save()">Save</button>
</form>

<pre>Model: {{ {date, fromTime, toTime, type} | json }}</pre>
