<div>
  <h3>Listing existing info</h3>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Tracking entires on date</mat-label>
      <input matInput type="date" [(ngModel)]="searchDate">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Select the date to filter.</mat-hint>
    </mat-form-field>
    <button style="margin-left: 5px;" mat-stroked-button color="primary" (click)="searchByDate()">Search</button>
    <button style="margin-left: 5px;" mat-stroked-button color="accent" (click)="createRecord()">Add record</button>
  </p>
  <mat-grid-list [cols]="6">
    <app-time-tracking-card [record]="t" *ngFor="let t of tracking"
                            (selected)="select($event)"></app-time-tracking-card>
  </mat-grid-list>
  <app-time-tracking-card *ngIf="selected.id" [record]="selected" [showButton]="false"
                          [selectButton]="false"></app-time-tracking-card>
</div>
