<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/landing">Website</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Projekte</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/projekte">Projekte</a></li>
      <li><a class="dropdown-item" href="#">Projekte Suchen</a></li>
      <li><a class="dropdown-item" href="#">Projekte Editieren</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dash">Dashboard</a>

  </li>
  <li><a class="nav-link" href="/projekte">Projekte</a></li>

</ul>






<!--<div>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/landing">Webseite</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/projekte">Projekt Liste</a></li>
    <li><a href="/dash">Dashboard</a></li>


  </ul>
</div>
-->



