
<form>
  <div class="row">
    <div class="col-sm-5 form-group">
      <label for="ip">IP</label>
        <output type="number" id="ID ">{{ident}}</output>

      <label for="bearbeiter">Bearbeiter</label>
        <input type="text" id="name" class="form-control" #bearbInput>

      <label for="Name">Name</label>
        <input type="text" id="kunde" class="form-control"#nameInput>

      <label for="kunde">Kunde</label>
        <input type="text" id="Holzart" class="form-control"#kundeInput>

      <label for="bearbeiter">Holzart</label>
        <input type="text" id="holzart" class="form-control"#holzartInput>

      <label for="Fraechter">Frächter</label>
        <input type="text" id="fraechter" class="form-control"#fraechterInput>

      <label for="schaetzmeter">Schätzmeter</label>
        <input type="number" id="schaetzmeter" class="form-control"#schaetzmeterInput>

      <label for="Preis">Preis/fm</label>
        <input type="number" id="preis" class="form-control"#preisInput>


    </div>



    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
        <button class="btn btn-danger" type="delete">Delete Projekt</button>
        <button class="btn btn-primary" type="clear">Clear</button>
      </div>

    </div>
  </div>
</form>
