<div class="card">
  <div class="header">
    <h2 class="title">Group Search</h2>
  </div>

  <div class="content">
    <form>
      <div class="form-group">
        <label>Groupe Name:</label>
        <input [(ngModel)]="groupe_name" (ngModelChange)="groupe_name_changed($event)" name="groupe_name"
          class="form-control" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="form-group">
        <button [disabled]="!groupe_name" (click)="search_group()" class="btn btn-primary">
          Search
        </button>
      </div>

    </form>
  </div>
</div>

<div class="card">
  <table class="table table-condensed" *ngIf="groups.length > 0">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Users</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of groups" [class.active]="f === selectedGroup">
        <td>{{ f.groupe_name }}</td>
        <td>
          <u>
            <li *ngFor="let name of f.users">
              {{name.user_name}}
              <!-- {{ f.users | usersToString }} -->
            </li>
          </u>
        </td>
        <td>
          <button (click)="select(f)" class="btn btn-primary">Select</button>
        </td>
        <td>
          <button (click)="delete(f)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="content">
  <form>
    <div class="form-group">
      <label>Create Group:</label>
      <input [(ngModel)]="groupe_name" (ngModelChange)="groupe_name_changed($event)" name="groupe_name">
    </div>
    <div class="form-group">
      <label>User names:</label>
      <input [(ngModel)]="group_users_string" name="group_users_string">
    </div>
    <div class="form-group">
      <button [disabled]="!groupe_name" (click)="save()" class="btn btn-primary">
        Create
      </button>
    </div>

  </form>
</div>

<div class="card" *ngIf="selectedGroup">
  <div class="content">
    <pre>{{ selectedGroup | json }}</pre>
  </div>
</div>




<!-- Printing all data in json groups
    <div *ngFor="let dat of groups">
    <pre>{{dat | json}}</pre>
</div> -->