<div class="container">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Projekte</h1>
    <div class="row">
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src=.\assets\bieber.png width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Hans Bieber</h4>
        <span class="text-muted">Holzeinkauf</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src=".\assets\vogel.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Pieps Vogel </h4>
        <span class="text-muted">Holzeinkauf</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src=".\assets\elefant.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Karl Elefant</h4>
        <span class="text-muted">Logistic</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src=".\assets\pingu.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Josef Pingu</h4>
        <span class="text-muted">Büro</span>
      </div>
    </div>

    <h2 class="sub-header">Projekt- Liste</h2>
      <div class= "row">
        <div class="col-xs-12">
          <button class="btn btn-success">Neues Projekt</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a
          href="#"
          class="list-group-item clearfix"
          *ngFor="let proj of projekte ">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{proj.name}}</h4>
              <p class="list-group-item-text">{{proj.id}}</p>
              <p class="list-group-item-text">{{proj.kunde}}</p>
              <p class="list-group-item-text">{{proj.holzart}}</p>
              <p class="list-group-item-text">{{proj.fraechter}}</p>
              <p class="list-group-item-text">{{proj.schaetzmeter}}</p>
              <p class="list-group-item-text">{{proj.preis}}</p>


            </div>
          </a>
      </div>
  </div>
</div>





